<div>
    
<img class="beerpic" src="..\images\beer.png" alt="beerpic">
 
<button class="beer" onclick="window.location.href='http://localhost:3000/beers';">Check the Beers!</button>
<button class="randombeer"onclick="window.location.href='http://localhost:3000/random-beer';">Check a random Beer</button>
</div>